<?xml version ="1.0" encoding="utf-8" standalone=" yes"?>
<settings>
        <category label= General>
                <setting id="url" type="text" label="URL" default ="http://mp3.live.tv-radio.com/franceinfo/all/franceinfo.mp3" />
                <setting id="title" type="text" label="Titre" default="France Info" />
                <setting id="genre" type="text" label="Genre" default="news" />
                <setting type ="sep" />
                <setting id="debug" type= "bool" label ="Debug" default ="false" />
        </category>
        <category label= URLS>
                <setting id="url" type="text" label="URL" default ="http://mp3.live.tv-radio.com/franceinfo/all/franceinfo.mp3" />
                <setting id="title" type="text" label="Titre" default="France Info" />
                <setting id="genre" type="text" label="Genre" default="news" />
                <setting id="url1" type="text" label="URL" default ="http://mp3.live.tv-radio.com/franceinter/all/franceinterhautdebit.mp3" />
                <setting id="title1" type="text" label="Titre" default="France Inter" />
                <setting id="genre1" type="text" label="Genre" default="news" />
                <setting id="url2" type="text" label="URL" default ="http://mp3.live.tv-radio.com/fip/all/fiphautdebit.mp3" />
                <setting id="title2" type="text" label="Titre" default="FIP" />
                <setting id="genre2" type="text" label="Genre" default="news" />
     </category>
</settings>

